/* PHASE 11: Icons */
[class*=icon-] {
  background-image: url('../images/sprite.png');
  background-size: 25px 250px;
  display: inline-block;
  height: 0;
  width: 25px;
  overflow: hidden;
  padding-top: 25px;
}

.icon-comment {
  /* background-position: 0% 0%; */
}

.icon-reblog {
  background-position: 0% 45%;
}

.icon-favorite {
  background-position: 0% 23%;
}

.icon-comment:hover {
  background-position: 0% 11%;
}

.icon-reblog:hover {
  background-position: 0% 56%;
}

.icon-favorite:hover {
  background-position: 0% 34%;
}